@use "@core/reset";
@use "@core/viewports";
@use "@core/colors";
@use "@core/rem";

.body {
    background-color: colors.base(colors.$content);
	color: colors.content(colors.$content);
	font-family: sans-serif;
	font-size: 16rem;
}
.button {
	background-color: colors.base(colors.$accent);
	color: colors.content(colors.$accent);
	border: none;
	padding: 8px 24px;
	font-size: 16px;
	line-height: 1.5;
	border-radius: 24px;
	cursor: pointer;
	transition: background-color ease-in-out 200ms;

	&:hover {
		background-color: colors.light(colors.$accent);
	}

	&:active {
		background-color: colors.dark(colors.$accent);
	}
}

.viewports {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 40px;
}
.viewport {
	display: none;
	padding: 12px 20px;
	background-color: colors.base(colors.$viewport);
	color: colors.content(colors.$viewport);
	border: 1px solid colors.dark(colors.$viewport);
	border-radius: 4px;

	&_mobile { @include viewports.mobile { display: block; } }
	&_phone { @include viewports.phone { display: block; } }
	&_phone-portrait { @include viewports.phone-portrait { display: block; } }
	&_phone-landscape { @include viewports.phone-landscape { display: block; } }
	&_tablet { @include viewports.tablet { display: block; } }
	&_tablet-portrait { @include viewports.tablet-portrait { display: block; } }
	&_tablet-landscape { @include viewports.tablet-landscape { display: block; } }
	&_desktop { @include viewports.desktop { display: block; }}
	&_laptop { @include viewports.laptop { display: block; } }
	&_wide { @include viewports.wide { display: block; } }
}