/**
 * Перечень базовых цветов проекта
 *
 * Из каждого базового цвета генерируются
 * светлый и тёмный оттенок, а также
 * контрастный цвет для контента
 */
$content: #fff;
$accent: #04f;
$viewport: #eee;