/**
 * Границы вьюпортов и стандартные вьюпорты устройств
 *
 * `min` — минимальный размер вьюпорта
 * `max` — максимальный размер вьюпорта
 * `standard` — стандартный вьюпорт
 *
 * Точки перелома используются в миксинах вьюпортов,
 * которые применяются для адаптации верстки.
 *
 * Стандартный вьюпорт используется для расчета значения rem
 * в переделах границ соответствующего вьюпорта. При ширине
 * вьюпорта, равному стандартному, 1rem = 1px.
 */

/**
 * Смартфон
 * 
 * Минимум не указывается, так это наименьший вьюпорт
 * и его стартовая граница всегда 0px.
 */
$phone: (
	"standard":	360px,
	"max":		1023px
);

/**
 * Планшет
 *
 * Диапазон планшета частично пересекается со смартфоном,
 * поэтому его минимум меньше максимума смартфона.
 * Если в этом общем промежутке ориентация вьюпорта
 * вертикальная, то это планшет, иначе смартфон.
 */
$tablet: (
	"min":		768px,
	"standard": 1024px,
	"max":		1280px
);

/**
 * Ноутбук
 *
 * Начинается там, где заканчивается планшет.
 */
$laptop: (
	"standard": 1366px,
	"max":		1599px
);

/**
 * Широкоэкранник
 *
 * Начинается там, где заканчивается ноутбук.
 * И не заканчивается. Поэтому максимум указывать
 * не требуется.
 */
$wide: (
	"standard": 1920px
)