/**
 * Границы вьюпортов и стандартные вьюпорты устройств
 *
 * `min` — минимальный размер вьюпорта
 * `max` — максимальный размер вьюпорта
 * `standard` — стандартный вьюпорт
 *
 * Точки перелома используются в миксинах вьюпортов,
 * которые применяются для адаптации верстки.
 *
 * Стандартный вьюпорт используется для расчета значения rem
 * в переделах границ соответствующего вьюпорта. При ширине
 * вьюпорта, равному стандартному, 1rem = 1px.
 */

/**
 * Смартфон вертикальный и горизонтальный
 *
 * Минимум у смартфона не указывается, так это наименьший вьюпорт и его
 * стартовая граница всегда 0px. Максимум не указывается, так как он
 * совпадает с минимумом планшета в соответствующих ориентациях.
 */
$phone-portrait: (
	"standard":	360px
);
$phone-landscape: (
	"standart": 800px
);

/**
 * Планшет вертикальный и горизонтальный
 *
 * Вьюпорты планшета начинаются там, где заканчиваются
 * соответствующие вьюпорты смартфона, а заканчиваются одинаково.
 */
$tablet-portrait: (
	"min":		768px,
	"standard": 768px
);
$tablet-landscape: (
	"min":		1024px,
	"standard": 1024px,
	"max":		1280px
);

/**
 * Ноутбук
 *
 * Начинается там, где заканчивается планшет.
 */
$laptop: (
	"standard": 1366px,
	"max":		1599px
);

/**
 * Широкоэкранник
 *
 * Начинается там, где заканчивается ноутбук.
 * И не заканчивается. Поэтому максимум указывать
 * не требуется.
 */
$wide: (
	"standard": 1920px
)